h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;  
  padding: 20px 0;    
}

button {
  font-size: 15px;
 
  margin: 0;   
   text-align: center; 
}

h2 {
  font-size: 15px;
  margin: 0;  
  padding: 15px 0;    
  color: #171E9F;

}
h3 {
  font-size: 15px;
  margin: 0;  
  padding: 15px 0;    

}

body{
text-align: center; 
margin:0;
padding:0;
font-size:15px;
background:#ffe;#D9B548;
overflow:auto
}

img {
  display: block;
  margin: 0 auto;
}



